#plugin {
    margin-top: 17px;
    margin-bottom: -50px;
    padding-left: 20px;
}

body {
    padding-top: 70px;
    padding-bottom: 80px;
    background-image: url(../images/background-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-default {
    background-color: #2C3E50;
    border-color: white;
}

    .navbar-default .navbar-nav > li > a {
        color: white;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #18bc9c;
            background-color: transparent;
        }

.navbar .nav > li.dropdown.open > .dropdown-toggle,
.navbar .nav > li.dropdown.active > .dropdown-toggle,
.navbar .nav > li.dropdown.open.active > .dropdown-toggle {
    color: white;
    background: #18bc9c;
}

.navbar-default .navbar-brand {
    color: white;
}

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #18bc9c;
        background-color: transparent;
    }

#partners .thumbnail img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
}

#partners .thumbnail img {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    width: 100%;
}
#partners .thumbnail {
    overflow: hidden;
}
#partners .partners-panel{
    margin-top:-20px;
}

html {
    background: transparent;
}
